@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

}

a {
    padding: 1em;
    font-family: 'raleway';
    text-decoration: none;
    color: #95a5a6;
    font-size: 30px;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

a:hover {
    color: #3498db;
}

@media screen and (max-width: 920px) {
    nav {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        background: #34495e;


    }

    a {
        font-size: 20px;
        color: white;
    }
}